<div ng-controller="viewAllController">
  <p>Search: <input type="text" ng-model="filter_text"></p>
  <table>
    <thead>
      <th>Question</th>
      <th>Answers</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr ng-repeat="question in questions | filter: filter_text | orderBy: 'app_date': reverse">
        <td>{{question.text}}</td>
        <td>{{question.answers.length}}</td>
        <td><a href="{{'#/viewQuestion/' + question._id}}">View Question</a> <a href="{{'#/addAnswer/' + question._id}}">Answer Question</a></td>
      </tr>
    </tbody>
  </table>
</div>
